{% autoescape off %}

Hello {{admin}},


{{position}} would like their account approved.

Their user account is under {{position_email}}.

This is the proof they provided:

{% if position_proof %}
http://{{domain}}{% url 'media' path=position_proof %}
{% else %}
http://{{domain}}{% url 'media' path='error/no_proof.jpg' %}
{% endif %}

Please click on the following link to approve their account if appropriate.

http://{{domain}}{% url 'accounts:approve_position' user_id=user_id %}


{% endautoescape %}